<ion-content>

  <ion-grid>
<ion-row>
    <ion-col size-md="3" size-lg="3" size-xs="12">
    </ion-col>

    <ion-col align-self-center size-md="6" size-lg="6" size-xs="12">
    <ion-list>
  

    <ion-row>
      <ion-col col-12>
        <h4 style="color: #3260eb;padding-left: 18px;padding-right: 18px;"> Test quizz</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>

        <ion-card (click)="goToSurveys()">
          <ion-item color="secondary" lines="none">
            <img src="assets/images/quiz.svg"  color="white" class="icon-menu">
          </ion-item>
          <ion-item color="secondary" lines="none">
            <ion-label>
            Quizz
            </ion-label>
          </ion-item>
        </ion-card>

      </ion-col>

      <ion-col col-6>
     

  
      </ion-col>

    </ion-row>




  </ion-list>


</ion-col>

<ion-col size-md="3" size-lg="3" size-xs="12">
</ion-col>

</ion-row>
  </ion-grid>




</ion-content>